@using ProcrastiDomain.Model;
@model ProcrastiInfrastructure.Models.DashboardViewModel

@{
    ViewData["Title"] = "Home";
}

<div style="border: 2px solid black; padding: 20px; text-align: center; margin-bottom: 30px;">
    <h2>Time lost by all users:</h2>
    <h1 style="color: red; font-size: 48px;">@Model.GlobalLossAmount minutes</h1>
</div>

<div>
    <h3>Recent Logs</h3>
    <hr />

    @foreach (var log in Model.RecentLogs)
    {
        <partial name="_LogCard" model="log" />
    }
</div>