<!DOCTYPE html>
<html>
<body>
    <a asp-controller="Account" asp-action="Login">Увійти</a>
    <br />
    <br />
    <a asp-controller="Account" asp-action="Register">Зареєструватися</a>
</body>
</html>