@model IEnumerable<ProcrastiDomain.Model.Log>

@{
    ViewData["Title"] = "Власні записи";
}

<div class="main-div">

    <div class="m-div-header">
        <h3 class="main-h3">Усі ваші записи</h3>
    </div>

    <div class="flex flex-col">
        @if (Model != null && Model.Any())
        {
            foreach (var log in Model)
            {
                <partial name="_LogCard" model="log" />
            }
        }
        else
        {
            <div class="text-center text-primary font-bold py-8">А у вас то записів нема.</div>
        }
    </div>
</div>