@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    --color-text: #060707;
    --color-background: #f9fafa;
    --color-primary: #788393;
    --color-secondary: #c5b7be;
    --color-accent: #a5938f;
}

@layer components {
    .nav-link {
        @apply flex items-center gap-3 px-3 py-2 text-sm font-semibold text-text rounded-lg hover:bg-zinc-200 transition-colors cursor-pointer;
    }
}