@model ProcrastiDomain.Model.Log

@{
    ViewData["Title"] = "Create Log";
}

<h1>Create Log</h1>
<hr />

<div  class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Logtype" class="control-label fw-bold">Log type</label>
                <select asp-for="Logtype" class="form-control" asp-items="ViewBag.Logtype"></select>
                <span asp-validation-for="Logtype" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Activityid" class="control-label fw-bold">Where have you wasted your time?</label>
                <select asp-for="Activityid" class="form-control" asp-items="ViewBag.Activityid"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label fw-bold">How many minutes were wasted?</label>
                <input asp-for="Amount" class="form-control" type="number" min="1" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Rating" class="control-label fw-bold">Estimate the time wasted (from 1 to 5)</label>
                <input asp-for="Rating" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Comment" class="control-label fw-bold">Comment</label>
                <input asp-for="Comment" class="form-control" placeholder="For example: I was watching TikTok again..." />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">I changed my mind about sharing this.</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}